<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyb.product.user.mapper.AccountRoleMapper">
  <resultMap id="BaseResultMap" type="com.lyb.product.user.entity.AccountRole">
    <id column="ar_id" jdbcType="INTEGER" property="arId" />
    <result column="acc_code" jdbcType="CHAR" property="accCode" />
    <result column="role_code" jdbcType="CHAR" property="roleCode" />
  </resultMap>
  <sql id="Base_Column_List">
    ar_id, acc_code, role_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_account_role
    where ar_id = #{arId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_account_role
    where ar_id = #{arId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lyb.product.user.entity.AccountRole">
    insert into t_account_role (ar_id, acc_code, role_code
      )
    values (#{arId,jdbcType=INTEGER}, #{accCode,jdbcType=CHAR}, #{roleCode,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lyb.product.user.entity.AccountRole">
    insert into t_account_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="arId != null">
        ar_id,
      </if>
      <if test="accCode != null">
        acc_code,
      </if>
      <if test="roleCode != null">
        role_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="arId != null">
        #{arId,jdbcType=INTEGER},
      </if>
      <if test="accCode != null">
        #{accCode,jdbcType=CHAR},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lyb.product.user.entity.AccountRole">
    update t_account_role
    <set>
      <if test="accCode != null">
        acc_code = #{accCode,jdbcType=CHAR},
      </if>
      <if test="roleCode != null">
        role_code = #{roleCode,jdbcType=CHAR},
      </if>
    </set>
    where ar_id = #{arId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lyb.product.user.entity.AccountRole">
    update t_account_role
    set acc_code = #{accCode,jdbcType=CHAR},
      role_code = #{roleCode,jdbcType=CHAR}
    where ar_id = #{arId,jdbcType=INTEGER}
  </update>
</mapper>